@import "tailwindcss";

:root {
  --background: #ffffff;
  /* --foreground: #171717; */
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.templateContainer {
  @apply max-w-[1400px] mx-auto px-4  md:px-12 lg:px-20;
}

html {
  scroll-behavior: smooth;
}
